---
layout: work
title: Shiba Customizations
order: 3
link_description: "Published Web3 game"
link_image: /assets/images/work/Krikey/Shiba_Customization/ShibaCustomization_01.jpg
link_video: 
---
<div class="study__intro section-padding bg-black">
  <div class="grid-small">
    <p>
        Solarpups is a Web3 game where players can digitally own dogs and interact with them. 
        The first breed was the Shiba Inu. 
        I was responsible for modeling, and texturing the clothing, headwear, and fur patterns.
    </p>
  </div>
</div>

<div class="browser">
  <div>
    {% for image in site.static_files %}
		  {% if image.path contains 'images/work/Krikey/Shiba_Customization' %}
        <div class="grid">
			    <div class="browser">
      			<figure class="browser__img">
			       <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
			      </figure>
			    </div>
		    </div>
  		{% endif %}
	  {% endfor %}
  </div>
</div>