---
layout: work
title: Solar Pups Marketing Posters
order: 1
link_description: "Marketing Posters for Solar Pups"
link_image: /assets/images/work/Thumbnails/Poster_Thumbnail.jpg
link_video: 
---
<div class="study__intro section-padding bg-black">
  <div class="grid">
    <p>
        The posters were created for marketing the Solar Pups game.
        The player is able to generate their own posters with the dogs they own in the game. 
        The goal of the posters was to highlight the dog and use vibrant colors to make the poster eye-catching. 
        These posters were all composed in Unity using 3D props that were created just for marketing purposes. 
    </p>
  </div>
</div>

<div class="browser">
  <div>
    {% for image in site.static_files %}
		  {% if image.path contains 'images/work/Krikey/Solar_Pups_Marketing_Posters' %}
        <div class="grid">
          {% if image.path contains 'images/work/Krikey/Solar_Pups_Marketing_Posters/poster_06' %}
            <div class="browser">	  
              <p class="section-padding">The below poster was not a part of the released posters.</p> 
            </div>
          {% endif %}
          <div class="browser">   
            <figure class="browser__img bg-darkergrey">
              <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
            </figure>
          </div>
	    	</div>
       
		  {% endif %}
	  {% endfor %}
  </div>
</div>