---
layout: work
title:
description: 
image: /assets/images/work/Biome/03_scene.png
order: 3
link_description: "Solo biome interactive project for Junior fall semester in 2019"
link_image: /assets/images/work/Biome/03_scene.png
link_video: 
---
<div class="study__intro section-padding--double bg-darkgrey">
  <div class="grid-small">
<p data-aos="fade-in" data-aos-duration="400" data-aos-delay="100">
I was inspired by the 'Living root bridge' in India and the time of the day is in the morning.
All the assets and textures are made by me. Modeling done in Zbrush and Maya, textured
using Substance painter, photoshop, a little bit of Substance designer and assembled in unreal
engine 4. Here are some screenshots of the actual biome.</p>
  </div>
</div>

<div class="browser bg-darkergrey">
  
      <div>
      {% for image in site.static_files %}
		{% if image.path contains 'images/work/Biome' %}
               	<div class="grid bg-darkergrey">
			<div class="browser" data-aos="fade-in">
			<span class="browser__dots"></span>		    
			<figure class="browser__img">
			 <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
			</figure>
			</div>
		  </div>
       
		{% endif %}
	  {% endfor %}
          <!--{% if work.order == 0 or work.order == 2 or work.order == 4 %}

            {% include work-card.html %}

          {%endif %} -->
      </div>
