---
layout: work
title: "Fountains"
description: 
image: /assets/images/work/laser-fountain/concept.jpg
order: 2
link_description: "Developed Laser fountain for organization of Tehran beautification"
link_image: /assets/images/work/laser-fountain/concept.jpg
link_video: 
---
<div class="section-padding bg-white">
  <div class="grid">
  <h2>
      <span data-aos="slice-up" data-aos-duration="400">Laser Fountain</span>
    </h2>
	<p data-aos="fade-in" data-aos-duration="400" data-aos-delay="100">	  
		  Laser fountain was designed for organization of
Tehran beautification as an urban element. It was a
recirculating fountain that sent water jet w through
some nozzle into a basin. The trick is to arrange a laser
to shoot out through each nozzle. Because of total
internal reflection, the laser light will follow the arc of
the water stream.</p>

   <p data-aos="fade-in" data-aos-duration="400" data-aos-delay="100">
		  The long collimating nozzle helps generate a smooth
unbroken jet of water. A simulator based on the beam
tracing method is developed for this fountain in
MATLAB by a group of engineers to proof the laser
propagation into nozzle with arbitrary situations such
as different materials, nozzle length and curves and
laser wavelengths (color). </p>

<p data-aos="fade-in" data-aos-duration="400" data-aos-delay="100">
	If you cup your hands under
the stream, you are rewarded with a pretty handful of
wet green, red or blue lights. I underestimated its
attraction for hand washing, urban beautification,
children playgrounds, Amusement park, museum,
musical fountains and hotels.
</p>
	<div class="browser">
  
      <div>
      {% for image in site.static_files %}
		{% if image.path contains 'images/work/laser-fountain' %}
		  <div class="grid">
			<div class="browser" data-aos="fade-in">
			<span class="browser__dots"></span>		    
			<figure class="browser__img">
			 <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
			</figure>
			</div>
		  </div>
       
		{% endif %}
	  {% endfor %}
	  	</div>
	</div>


	</div>
</div>
		  


<div class="section-padding bg-lightgrey">
  <div class="grid">
	<h2>
      <span data-aos="slice-up" data-aos-duration="400">Bamboo Fountain</span>
    </h2>
	<p data-aos="fade-in" data-aos-duration="400" data-aos-delay="100">	A bamboo fountain was designed for organization
of Tehran beautification, which was inspired from
large bamboo. The nozzle was designed to out the
water as bamboo leafs. Similar to the water maze,
the design was modular and the parts was
prefabricated. This fountain can be made in
different size and dimensions according to the
order of customers.</p>
<div class="browser">
  
      <div>
      {% for image in site.static_files %}
		{% if image.path contains 'images/work/bamboo-fountain' %}
		  <div class="grid">
			<div class="browser" data-aos="fade-in">
			<span class="browser__dots"></span>		    
			<figure class="browser__img">
			 <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
			</figure>
			</div>
		  </div>
       
		{% endif %}
	  {% endfor %}
	  	</div>
	</div>
	
  </div>
</div>

<div class="section-padding bg-white">
  <div class="grid">
	  <h2>
      <span data-aos="slice-up" data-aos-duration="400">Water Maze</span>
    </h2>
	<p data-aos="fade-in" data-aos-duration="400" data-aos-delay="100">This design was the result of a
class project about urban
furniture and introduced
to organization of
Tehran beautification.
In fact, it was inspired by
the green mazes for hot countries
to make cool places for different
applications such as children playgrounds,
parks, libraries, hotels, Official welcoming
ceremonies, places for worship and etc.
The water maze design is modular and the parts was
prefabricated. The fountain can be made in different
size and dimensions according to the order of
customers. Quick and easy installation, development
ability and ability to change the maze’s form are the
special characteristics of this design </p>

<div class="browser">
  
      <div>
      {% for image in site.static_files %}
		{% if image.path contains 'images/work/water-maze' %}
		  <div class="grid">
			<div class="browser" data-aos="fade-in">
			<span class="browser__dots"></span>		    
			<figure class="browser__img">
			 <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
			</figure>
			</div>
		  </div>
       
		{% endif %}
	  {% endfor %}
	  	</div>
	</div>

  </div>
</div>

<div class="section-padding bg-lightgrey">
  <div class="grid">
	  <h2>
      <span data-aos="slice-up" data-aos-duration="400">Final Product</span>
    </h2>
    <div class="browser" data-aos="fade-in">
      <span class="browser__dots"></span>
      <video autoplay loop muted>
        <source type="video/wmv" src="/assets/videos/Koolivand 09303966104.wmv">
      </video>
    </div>
  </div>
</div>
