---
layout: work
title:
description: 
image: /assets/images/work/Sophomore/madhurima-deshmukh-mdeshmuk-beauty-1.jpg
order: 5
link_description: "Sophomore Game Art class, Ringling College of Art + Design 2018 - 2019"
link_image: /assets/images/work/Sophomore/madhurima-deshmukh-mdeshmuk-beauty-1.jpg
link_video: 
---
<!-- 
<div class="study__intro section-padding--double bg-white">
  <div class="grid-small">
    <h2>
      <span data-aos="slice-up" data-aos-duration="400">DOBE 3D Toy puzzle</span>
    </h2>

  </div>
</div>

<div class="section-padding bg-inrix--alpha">
  <div class="grid">
    <div class="browser" data-aos="fade-in">
      <span class="browser__dots"></span>
      <figure class="browser__img">
        <img src="/assets/images/work/dobe-3d-toy/vision.jpg" alt="DOBE Vison"/>
      </figure>
    </div>
  </div>
</div>

<div class="section-padding bg-inrix--alpha">
  <div class="grid">
    <div class="browser" data-aos="fade-in">
      <span class="browser__dots"></span>
      <figure class="browser__img">
        <img src="/assets/images/work/dobe-3d-toy/all_toys.jpg" alt="DOBE all"/>
      </figure>
    </div>
  </div>
</div>

<div class="section-padding bg-inrix--alpha">
  <div class="grid">
    <div class="browser" data-aos="fade-in">
      <span class="browser__dots"></span>
      <figure class="browser__img">
        <img src="/assets/images/work/dobe-3d-toy/modular_ext.jpg" alt="DOBE modular"/>
      </figure>
    </div>
  </div>
</div>
-->
<p>Guha Temple</p>
<p>Years ago, there was a meteor that crashed onto earth.
This meteor had immense power, whoever touched it gained
knowledge beyond any normal human. The first person who ever
touched it was seen as the civilization's god, but one day
they all just disappeared. What might have happen?
Was this the meteor doing or was it the humans that
did it to themselves? Find answers as you explore this cavern.
Responsible for World Building; set dressing and lighting</p>

<div class="browser">
  
      <div>
      {% for image in site.static_files %}
		{% if image.path contains 'images/work/Sophomore' %}
               	<div class="grid">
			<div class="browser" data-aos="fade-in">
			<span class="browser__dots"></span>		    
			<figure class="browser__img">
			 <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
			</figure>
			</div>
		  </div>
       
		{% endif %}
	  {% endfor %}
          <!--{% if work.order == 0 or work.order == 2 or work.order == 4 %}

            {% include work-card.html %}

          {%endif %} -->
      </div>
