---
layout: work
title:
description: 
image: /assets/images/work/Thesis/Thumbnail.png
order: 5
link_description: "Final year thesis 2020-21"
link_image: /assets/images/work/Thesis/Thumbnail.png
link_video: 
---

<div class="study__intro section-padding--double bg-lightgrey">
  <div class="grid-small">
<p data-aos="fade-in" data-aos-duration="400" data-aos-delay="100">
Work in progress. Shots from my thesis.</p>
  </div>
</div>

<div class="browser">
  
      <div>
      {% for image in site.static_files %}
		{% if image.path contains 'images/work/Thesis' %}
               	<div class="grid">
			<div class="browser" data-aos="fade-in">
			<span class="browser__dots"></span>		    
			<figure class="browser__img">
			 <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
			</figure>
			</div>
		  </div>
       
		{% endif %}
	  {% endfor %}
          <!--{% if work.order == 0 or work.order == 2 or work.order == 4 %}

            {% include work-card.html %}

          {%endif %} -->
      </div>
