<footer class="footer">
  <span class="footer__copy">&copy; {{ site.time | date: "%Y" }}</span>
  <ul class="footer__list">
    <li><a class="footer__link" href="https://cara.app/madhurimadeshmukh/" target="_blank">{% include social/cara-app-logo-circle-White.svg %}</a></li>
    <li><a class="footer__link" href="https://www.linkedin.com/in/madhurima-d-7542a7116/" target="_blank">{% include social/LinkedIN.svg %}</a></li>
    <li><a class="footer__link" href="https://madhudigisculpts.tumblr.com/" target="_blank">{% include social/Tumblr.svg %}</a></li>
    <li><a class="footer__link" href="https://github.com/MadhurimaDeshmukh" target="_blank">{% include social/Github_white.svg %}</a></li>
  </ul>
</footer>
