{% if page.url == "/" %}
  <header class="header">
    <a class="header__title" href="#" data-scroll>Madhurima Deshmukh | 3D Character Artist</a>

    <nav>
      <ul class="header__list">
        <li>
          <a class="header__link" href="{{ '/contact' | prepend: site.baseurl }}">About</a>
        </li>
      </ul>
      <ul class="header__lowerlist">
        <li>
          <a class="header__link" href="#character" data-scroll>Character Art</a>
        </li>
        <li>
          <a class="header__link" href="#environment" data-scroll>Environment/Props</a>
        </li>
      </ul>
    </nav>
  </header>

  <header class="header--mobile">
    <a class="header__title" href="#" data-scroll>Madhurima Deshmukh | 3D Character Artist</a>

    <div class="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <nav class="header__nav">
      <ul class="header__list">
        <li>
          <a class="header__link" href="{{ '/contact' | prepend: site.baseurl }}">About</a>
        </li>
      </ul>
      <ul class="header__lowerlist">
        <li>
          <a class="header__link" href="#character" data-scroll>Character Art</a>
        </li>
        <li>
          <a class="header__link" href="#environment" data-scroll>Environment/Props</a>
        </li>
      </ul>
    </nav>
  </header>
{% elsif page.url == "/contact/" %}
  <header class="header">
    <a class="header__title" href="{{ '/' | prepend: site.baseurl }}">Madhurima Deshmukh | 3D Character Artist</a>

    <nav>
      <ul class="header__list">
        <li>
          <a class="header__link" href="#" data-scroll>About</a>
        </li>
      </ul>
      <ul class="header__lowerlist">
        <li>
          <a class="header__link" href="{{ '/' | prepend: site.baseurl }}" data-anchor="character" data-scroll>Character Art</a>
        </li>
        <li>
          <a class="header__link" href="{{ '/' | prepend: site.baseurl }}" data-anchor="environment" data-scroll>Environment/Props</a>
        </li>
      </ul>
    </nav>
  </header>

  <header class="header--mobile">
    <a class="header__title" href="{{ '/' | prepend: site.baseurl }}">Madhurima Deshmukh | 3D Character Artist</a>

    <div class="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <nav class="header__nav">
      <ul class="header__list">
        <li>
          <a class="header__link" href="#" data-scroll>About</a>
        </li>
      </ul>
      <ul class="header__lowerlist">
        <li>
          <a class="header__link" href="{{ '/' | prepend: site.baseurl }}" data-anchor="character" data-scroll>Character Art</a>
        </li>
        <li>
          <a class="header__link" href="{{ '/' | prepend: site.baseurl }}" data-anchor="environment" data-scroll>Environment/Props</a>
        </li>
      </ul>
    </nav>
  </header>
{% else %}
  <header class="header">
    <a class="header__title" href="{{ '/' | prepend: site.baseurl }}">Madhurima Deshmukh | 3D Character Artist</a>

    <nav>
      <ul class="header__list">
        <li>
          <a class="header__link" href="{{ '/contact' | prepend: site.baseurl }}">About</a>
        </li>
      </ul>
      <ul class="header__lowerlist">
        <li>
          <a class="header__link" href="{{ '/' | prepend: site.baseurl }}" data-anchor="character" data-scroll>Character Art</a>
        </li>
        <li>
          <a class="header__link" href="{{ '/' | prepend: site.baseurl }}" data-anchor="environment" data-scroll>Environment/Props</a>
        </li>
      </ul>
    </nav>
  </header>

  <header class="header--mobile">
    <a class="header__title" href="{{ '/' | prepend: site.baseurl }}">Madhurima Deshmukh | 3D Character Artist</a>

    <div class="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <nav class="header__nav">
      <ul class="header__list">
        <li>
          <a class="header__link" href="{{ '/contact' | prepend: site.baseurl }}">About</a>
        </li>
        <li>
          <a class="header__link" href="https://madhudigisculpts.tumblr.com/">Tumblr</a>
        </li>
      </ul>
      <ul class="header__lowerlist">
        <li>
          <a class="header__link" href="{{ '/' | prepend: site.baseurl }}" data-anchor="character" data-scroll>Character Art</a>
        </li>
        <li>
          <a class="header__link" href="{{ '/' | prepend: site.baseurl }}" data-anchor="environment" data-scroll>Environment/Props</a>
        </li>
      </ul>
    </nav>
  </header>
{% endif %}
